body {
	line-height: 1.5;
}
a {
	color: cornflowerblue;
	text-decoration: none;
}
hr {
	margin-top: 8px;
	margin-bottom: 6px;
	border: 0;
	border-top: 1px solid #eee;
}
.howitworks, .crash {
	margin-bottom: 7px;
}
div.crash-desc {
	font-style: italic;
	padding-left: 10px;
}
span.companymanaged_title {
	font-weight: bold;
}
.companymanaged img, .crashreport_managed img {
	vertical-align: middle;
}
