body {
	min-width: 400px;
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.container {
	margin: 0px;
	padding: 0px;
}
.header {
	padding: 24px 32px;
}
.header .warning {
	position: fixed;
	right: 24px;
	top: 32px;
	color: white;
	display: none;
}
.header .warning .reason {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.header .warning .image {
	display: table-cell;
	vertical-align: middle;
	padding-left: 8px;
}
.contentblock {
	padding: 24px 32px 16px 32px;
}
.country, .name {
	color: white;
	font-size: 24px;
}
.country2 {
	font-size: 14px;
}

.contentblock {
	border-top: 1px solid #E0E0E0;
}
.contentblock.cbsmall {
	padding: 16px 32px;
}
.longbox {
	text-align: center;
}
/* LINEELEMENT */
.contentblock > .line {
	padding-bottom: 8px;
	display: table;
	width: 100%;
}
.contentblock.cbsmall > .line {
	padding: 0px !important;
}
.contentblock > .line > .title {
	font-weight: bold;
	display: table-cell;
}
.contentblock > .line > .content {
	width: auto;
	display: table-cell;
	text-align: right;
}
.contentblock > .line > .neutral {
	width: auto;
	display: table-cell;
}

/* SOFTLINE */
.softline {
	display: table;
	width: 100%;
	padding: 4px 0px;
}
.softline > .title {
	display: table-cell;
	font-size: 12px;
	color: #999999;
	padding-left: 16px;
	width: 125px;
}
.softline > .content {
	display: table-cell;
	font-size: 12px;
	width: auto;
	text-align: right;
}

/* FIELDS */
.ipfield {
	font-size: 16px;
}
.sccontent {
	font-weight: bold;
}

/* EXTRAS */
.wotclickable {
	cursor: pointer;
}
.expand {
	display: inline-block;
	margin-left: 8px;
	cursor: pointer;
	transition: 250ms linear;
}
.expand.active {
	transform: rotate(90deg);
}
@keyframes textloader {
	0%   { opacity: 0.5; }
	50%  { opacity: 0.2; }
	100% { opacity: 0.5; }
}
@-webkit-keyframes textloader{
	0%   { opacity: 0.5; }
	50%  { opacity: 0.2; }
	100% { opacity: 0.5; }
}
.loader {
	opacity: 0.5;  
	animation: textloader 1s infinite;
	-webkit-animation: textloader 1s infinite;
}
.loader:before {
	content: "\25CF\0020\25CF\0020\25CF";
}

/* BRAND COLOR */
.bd-googleplus {
	color: #dd4b39 !important;
}
.bd-facebook {
	color: #3b5998 !important;
}
.bd-twitter {
	color: #55acee !important;
}
.bd-reddit {
	color: #5f99cf !important;
}

/* LINKS */
.reportlink a {
	color: #D32E2E;
}
.reportlink a img, .infolink a img {
	padding-right: 5px;
}
.infolink {
	text-align: right;
}

/* GREEN BOX */
.greenbox > .header {
	background-color: #4CAF50;
}
.greenbox > .header > .country2 {
	color: #1D421E;
}
.greenbox > .contentblock > .line > .title {
	color: #1D421E;
}
.greenbox > .contentblock > .line > .content {
	color: #4CAF50;
}

/* GRAY BOX */
.graybox .header {
	background-color: #666666;
}
.graybox > .header > .country2 {
	color: #292929;
}
.graybox > .contentblock > .line > .title {
	color: #292929;
}
.graybox > .contentblock > .line > .content {
	color: #999999;
}
.information {
	color: #999999;
	text-align: center;
}

/* YELLOW BOX */
.yellowbox > .header {
	background-color: #FFA000;
}
.yellowbox > .header > .country2 {
	color: #000000;
}
.yellowbox > .contentblock > .line > .title {
	color: #F59B00;
}
.yellowbox > .contentblock > .line > .content {
	color: #FFA000;
}

/* RED BOX */
.redbox > .header {
	background-color: #E64A19;
}
.redbox > .header > .country2 {
	color: #521A09;
}
.redbox > .contentblock > .line > .title {
	color: #521A09;
}
.redbox > .contentblock > .line > .content {
	color: #E64A19;
}
